{% extends "/admin/base.html.twig" %}

{% block admin_content %}
    <div class="nav">
        <div class="col1 centered">
            <a href="/admin/user">Gestion Utilisateurs</a>
        </div>
        <div class="col2 centered">
            <a href="/admin/entite">Gestion Entités</a>
        </div>
    </div>
{% endblock admin_content %}